extends layout 

block content 
    h1= title

    ul
        each author in authors

            li 
                a(href=author.url) #{author.name} 
                |  - Birth Date: #{author.birthDateFormatted} 
                |  - Death Date: #{author.deathDateFormatted}   

        else 
            li There is no authors.