extends layout 

block content 

    h1 Author: #{author.name}

    p #[strong First Name: ] #{author.first_name} 
    p #[strong Family Name: ] #{author.family_name} 
    p #[strong Lifespan: ] #{author.lifeSpan}

    div(style="margin-left:20px;margin-top:20px")

        h4 Books

        dl 
            each book in books 
                dt 
                    a(href=book.url) #{book.title}
                dd #{book.summary}

            else 
                p This author has no books 


    a(href=`${author.url}/delete`) Delete author
