extends layout 

block content 

    h1 ID: #{copie._id} 

    p #[strong Title: ]
        a(href=copie.book.url) #{copie.book.title}
    p #[strong Imprint: ] #{copie.imprint} 

    p #[strong Status: ] 
        if copie.status == "Available"
            span.text-success #{copie.status} 
        else if copie.status == "Maintenance" 
            span.text-danger #{copie.status} 
        else 
            span.text-warning #{copie.status} 

        if copie.status != "Available" 
            p #[strong Due back: ] #{copie.dueBackFormatted}